*.bak
*.bkup
*.json
*.pyc
*.pyo
*.sql
*.tmp
*.tmp*
.*swp
.directory
.idea
__pycache__
db.sqlite3
docs
node_modules
nohup.out
sqlitejdbc-v056.jar
src_less/bootstrap
src_less/style.css
src_less/style.min.css
test.db
zentus-sqlite-license.txt
user.sql
local.db